dmic_dev: &pdm0 {
    status = "okay";
};

pdm_mic_regulator: &{/msm261d3526hicpm-c-en} {
    regulator-boot-on;
};

&usbd {
    num-isoin-endpoints = <0x02>;
    mic_dev: usb-audio-mic {
        compatible = "usb-audio-mic";
        channel-l;
        feature-mute;
        feature-volume;
        resolution = <16>;
        sample-rate-hz = <16000>;
    };
};

&{/chosen} {
    zephyr,console = &xiao_serial;
    zephyr,shell-uart = &xiao_serial;
};

&i2c1 {
    ssd1306: ssd1306@3c {
        compatible = "solomon,ssd1306fb";
        reg = <0x3c>;
        width = <128>;
        height = <64>;
        segment-offset = <0>;
        page-offset = <0>;
        display-offset = <0>;
        multiplex-ratio = <63>;
        prechargep = <0x22>;
        status = "okay";
    };
};
